<a href="https://colab.research.google.com/github/goetzbrandon/bte320/blob/main/InClassAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1

In [ ]:
sales = float(input("Enter sales ($): "))
print(f"Sales: ${sales}")
print(f"Cost of Goods Sold: ${sales*.4}")
print(f"Gross Profit: ${sales-sales*.4}")

Enter sales ($): 12000
Sales: $12000.0
Cost of Goods Sold: $4800.0
Gross Profit: $7200.0

In [ ]:
sales = float(input("Enter sales ($): "))
tax = float(input("Enter tax rate (%): "))
print(f"Sales: ${sales}")
print(f"Cost of Goods Sold: ${sales*.4}")
print(f"Gross Profit: ${sales-sales*.4}")
print(f"Taxes: ${(sales-sales*.4)*(tax/100)}")
print(f"Net Income: ${(sales-sales*.4)-((sales-sales*.4)*(tax/100))}")

Enter sales ($): 12000
Enter tax rate (%): 30
Sales: $12000.0
Cost of Goods Sold: $4800.0
Gross Profit: $7200.0
Taxes: $2160.0
Net Income: $5040.0

Assignment 2

In [ ]:
x = float(input("Give the first value: "))
operator = str(input("Provide the operator: "))
y = float(input("Give the second value: "))
if operator == "+":
  z = x + y
elif operator == "-":
  z = x - y
elif operator == "*":
  z = x * y
elif operator == "/":
  z = x / y
else:
  print("Not a valid operator.")


print(z)

Give the first value: 3
Provide the operator: *
Give the second value: 9
27.0

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
op = input("Choose numerical operator (e.g., +, -, *, etc.): ")

res = None

if op == "+":
  res = num1 + num2
elif op == "-":
  res = num1 - num2
elif op == "*":
  res = num1 * num2
elif op == "/":
  res = num1 / num2
elif op == "//":
  res = num1 // num2
elif op == "**":
  res = num1 ** num2
elif op == "%":
  res = num1 % num2
else:
  print("Invalid operation")

print(f"Result: {res}")

Assignment 3

In [ ]:
for i in range (1,9,1):
  fee = i * 2.5 + 5
  print(f"{i}    {fee:.2f}")

1    7.50
2    10.00
3    12.50
4    15.00
5    17.50
6    20.00
7    22.50
8    25.00

In [ ]:
for i in range (1,9,1):
  fee = i * 2.5 + 5
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(f"{i} {fee:.2f}")

1 10.00
2 10.00
3 12.50
4 15.00
5 17.50
6 20.00
7 20.00
8 20.00

Assignment 4

In [12]:
for i in range (0, 201, 25):
   additionalAttendees = 2 * (i ** .5)
   profit = ((additionalAttendees + 20) * 10) - 200
   print(f"{i}    {profit:.2f}")

0    0.00
25    75.00
50    91.42
75    98.21
100    100.00
125    98.61
150    94.95
175    89.58
200    82.84

In [17]:
ticketPrice = 10
baseAttendance = 20

print("Ad$\tProfit")
for ad in range(0,201,25):
  revenue = (20 + 2 * round(ad ** 0.5)) * ticketPrice
  costs = 200 + ad
  profit = revenue - costs
  print(f"{float(ad)}\t{float(profit)}")

Ad$	Profit
0.0	0.0
25.0	75.0
50.0	90.0
75.0	105.0
100.0	100.0
125.0	95.0
150.0	90.0
175.0	85.0
200.0	80.0